.all-new-collections {
  color: rgba(0, 0, 0, 0.671);
  font-size: 5rem;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  margin-top: 100px;
  margin-bottom: 30px;
}

.under-home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.display-all-new-collections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.display-all-new-collections img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.all-new-products-informations {
  margin-top: 10px;
  text-align: center;
}

.all-new-products-informations h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.all-new-products-informations p {
  margin: 5px 0;
  font-size: 16px;
}

.add-to-card-btn {
  display: block;
  margin: 10px auto 0;
  padding: 10px 20px;
  background-color: #485d48;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-to-card-btn:hover {
  background-color: #2e8b57;
}
