.header {
  font-family: "Shadows Into Light";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 10rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 50%;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav li {
  margin-right: 4rem;
}

.header__nav li:last-child {
  margin-right: 0;
}

.header__nav a {
  color: rgba(0, 0, 0, 0.815);
  font-size: 1.8rem;
  text-decoration: none;
}

.header__nav a:hover {
  text-decoration: underline;
}

.header__auth a {
  margin-left: 1.5rem;
  color: rgba(0, 0, 0, 0.815);
  font-size: 1.6rem;
  text-decoration: none;
}

.header__auth a:hover {
  text-decoration: underline;
}

.header__auth a:first-child {
  margin-left: 0;
}
.header-nav-search {
  margin-right: 60px;
  cursor: pointer;
}
.header-nav-shopping-card {
  margin-right: 30px;
  cursor: pointer;
}
.login-navBar {
  margin-right: 40px;
}
