.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(126, 122, 122, 0.074);
}

.header__logo {
  width: 10rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 50%;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav li {
  margin-right: 4rem;
}

.header__nav li:last-child {
  margin-right: 0;
}

.header__nav a {
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
}

.header__nav a:hover {
  text-decoration: underline;
}

.header__auth a {
  margin-left: 1.5rem;
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
}

.header__auth a:hover {
  text-decoration: underline;
}

.header__auth a:first-child {
  margin-left: 0;
}
