/* Header */
.header__main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header__logo img {
  height: 90px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav-list li a {
  color: #222222;
  text-decoration: none;
  padding: 15px;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.header__nav-list li a:hover {
  color: #0077c2;
}

.header__login h2 {
  margin: 0;
  color: #222222;
  cursor: pointer;
}

.login-navBar {
  color: #222222;
  text-decoration: none;
  font-size: 1.3rem;
}

.header__burger-menu {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  /* Mobile menu */
  .header__nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__nav-list li a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
  }

  .header__login {
    display: none;
  }

  .header__burger-menu {
    display: block;
  }

  .header__nav-list.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .header__nav-list.show li a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
  }
}
