* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* ALL CSS STYLE FOR GOOGLE FONT */

/* 
  font-family: "Gloock", serif;
  font-family: "Rampart One", cursive;
  font-family: "Shadows Into Light", cursive; */
